/**copied from the styles.css file in my previous project, modified to fit the plant theme of this companies website.**/
/* Global Styles */
body {
    font-family: 'Bookman Old Style', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #12512f;
    color: white
}
/* eco-innovation-table styles */
.eco-innovation-table caption {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #969796f1;
    color: rgb(13, 1, 1);
}
.eco-innovation-table {
    border-collapse: collapse;
}
.eco-innovation-table th, .eco-innovation-table td {
    border: 1px solid #8e7070;
    padding: 8px;
    text-align: left;
}